apiVersion: apps/v1
kind: Deployment
metadata:
  name: rice-front
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: rice-front
          image: 417736072886.dkr.ecr.us-east-1.amazonaws.com/dev/rice:latest
          ports:
            - containerPort: 3000
