apiVersion: apps/v1
kind: Deployment
metadata:
  name: rice-front
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: rice-front
          image: roajsa19/rice:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
